<app-tooltip #tooltip>
  <div>
    Hello
  </div>
</app-tooltip>
<button [appTooltip]="tooltip">Tooltip</button>

<app-tooltip #tooltip2>
  <div>
    Hello Arrow. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolore est quidem libero corrupti odio
    porro provident repellendus accusamus quis quas harum id nostrum, nesciunt ratione fuga esse modi tempore?
  </div>
</app-tooltip>
<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis neque aut quos minus consequatur iusto ipsa explicabo
  expedita perspiciatis laboriosam quasi ipsam tenetur culpa soluta facilis totam quisquam, nisi commodi?
  <button [appTooltip]="tooltip2" [showCaret]="true">Tooltip</button>
</div>

<popper-content #popper1Content>
  <p class="bold">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia magni perspiciatis modi
    necessitatibus eos voluptates harum repudiandae, sint illo animi molestias sapiente quia quaerat ipsam, similique,
    aspernatur asperiores a assumenda.</p>
</popper-content>
<div>
  <p class="bold">Hey!</p>
  <p class="thin">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam beatae hic laboriosam cum iste cupiditate nobis
    dolorem eligendi expedita natus, voluptas maxime perspiciatis exercitationem magnam laborum fugiat eius odio!
    Corporis!
    <button [popper]="popper1Content" [popperShowOnStart]="true" [popperTrigger]="NgxPopperTriggers.click"
      [popperHideOnClickOutside]="true" [popperHideOnScroll]="true"
      [popperPlacement]="NgxPopperPlacements.BOTTOM">Tooltip</button>
  </p>
</div>
